<div class="container-logo">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" 
        routerLink="/dashboard" routerLinkActive="active">
            <img class="logo" id="logo" src="../Imagenes/wknblack.png">
        </a>
    </div>
    <div class="contenedor">
        <div class="container-login">
            <div class="card">
                <div class="head-card">
                    <h1 data-trad="loginEmpresa.titulo">Iniciar sesión</h1>
                    <div class="container-back">
                        <a th:href="@{/pagina/inicio}" class="back_a">
                            <i class="fas fa-arrow-left back"></i>
                        </a>
                    </div>
                </div>
                <p data-trad="loginEmpresa.subtitulo">Hagamos crecer tu empresa juntos.</p>
                <div class="formulario">
                    <form #loginForm="ngForm" (ngSubmit)="login()" class="user">
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="email" id="InputEmail"
                            [(ngModel)]="usuario.email"  name="email" placeholder="" required>
                            <label for="InputEmail" class="floating-label" data-trad="loginEmpresa.email">Correo electronico</label>
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="password" id="password" name="contraseña"
                            [(ngModel)]="usuario.password" placeholder="" required>
                            <i class="fas fa-eye toggle-password" (click)="togglePasswordVisibility('password')"></i>
                            <label for="password" class="floating-label">Contraseña</label>
                        </div>
                        <button class="btn btn-primary d-block btn-user w-100" type="submit" id="validar">
                            Ingresar
                        </button>
                        <br>
                        <p><a>Olvidaste tu contraseña?</a></p>
                    </form>
                </div>
            </div>
            <div class="register">
                <p style="padding-right: 10px;">No tienes una cuenta para tu empresa?</p>
                <a routerLink="/RegisterEmpresa" routerLinkActive="active" >Registrate!</a>
            </div>
        </div>
        <div class="curva">
            <div class="container-img"></div>
        </div>
    </div>
