<div id="wrapper">
    <app-navbar-acordion style="display: inline-block;"></app-navbar-acordion>
    <div class="d-flex flex-column" id="content-wrapper">
        <app-navbarbusqueda [modo]="'buscador'"></app-navbarbusqueda>
        <div class="content-area flex-grow-1 p-3">
            <div class="section-title text-center">
                <h2 class="display-5 fw-bold" data-trad="offers.title">Ofertas disponibles</h2>
                <p class="text-muted">Explora las oportunidades laborales que tenemos
                    para ti</p>
            </div>
        </div>
        <app-footer class="mt-auto"></app-footer>  
    </div>
</div>



