.section-title {
    padding: 10px 0;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 20px;
    text-align: center;
    height: 132px;
}

.section-title h2 {
    font-weight: 700;
    color: var(--primary-color);
}

.section-title p {
    font-size: 1rem;
    color: var(--text-gray);
    margin-top: 10px;
}