.navbar {
  background: var(--bg-light);
  box-shadow: var(--shadow);
  /* width: 956px; */
}

.sidebar {
  background: var(--primary-color);
  width: 100px;
}

.nav-item{
    height: 63px;
}



.sidebar .nav-item:hover {
  background: rgba(255, 255, 255, 0.2);
  border-left: 4px solid #1e88e5;
  transition: var(--transition);
}

.sidebar .nav-link.active {
  background: rgba(255, 255, 255, 0.1);
  border-left: 4px solid #59625e;
  padding: 16px;
}



.sidebar a {
  text-decoration: none;
  margin: 5px 0;
  padding: 16px;
  border-radius: 5px;
  transition: var(--transition);
  font-size: 0.9rem !important;
  color: var(--text-light);
}


.contenedor-botones{
  display: flex;
}

.nav-rp {
  border-radius: 8px;
  width: 100%;
}

.nav-rp:hover {
  color: var(--secondary-color);
  background-color: var(--bg-light);
}

#logo {
  width: 150px;
  cursor: pointer;
  transition: transform 0.3s;
}

#logo:hover {
  transform: scale(1.1);
}


