<nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark"
    [ngClass]="{'persona-navbar': rol === 'PERSONA','empresa-navbar': rol === 'EMPRESA','invitado-navbar': rol === 'INVITADO'}"
    id="navbar-responsive">
    <div class="container-fluid d-flex flex-column p-0"><a
            class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0">
            <img src="/Imagenes/wwk_white.png" width="61" height="58" style="width: 50px;height: 50px;">
            <div class="sidebar-brand-icon rotate-n-15"></div>
            <div class="sidebar-brand-text mx-3"><span>Workwise</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <!-- persona -->
            <ng-container *ngIf="rol === 'PERSONA'">
                <li class="nav-item"><a class="nav-link active" routerLink="/ofertasInicio" routerLinkActive="active">
                    <i class="fas fa-home"></i><span>Inicio</span></a>
                </li>

                <li class="nav-item"><a class="nav-link" routerLink="/perfilPersona" routerLinkActive="active">
                    <i class="fas fa-user-circle"></i><span>Mi Perfil</span></a>
                </li>

                <li class="nav-item"><a class="nav-link">
                    <i class="fas fa-file"></i><span>Guías de entrevista</span></a>
                </li>

                <li class="nav-item"><a class="nav-link">
                    <i class="fas fa-chart-bar"></i><span>Estadísticas</span></a>
                </li>

                <li class="nav-item"><a class="nav-link" routerLink="/loginEmpresa" routerLinkActive="active">
                    <i class="fas fa-building"></i><span>¿Tienes una empresa?</span></a>
                </li>
            </ng-container>

            <!-- empresa -->
            <ng-container *ngIf="rol === 'EMPRESA'">
                <li class="nav-item"><a class="nav-link active" routerLink="/ofertas-empresa" routerLinkActive="active">
                    <i class="fas fa-home"></i><span>Inicio</span></a>
                </li>
                <li class="nav-item"><a class="nav-link">
                    <i class="fas fa-chart-bar"></i><span>Mi perfil</span></a>
                </li>

                <li class="nav-item"><a class="nav-link">
                    <i class="fas fa-chart-bar"></i><span>Estadísticas</span></a>
                </li>
            </ng-container>

            <!-- invitado -->
            <ng-container *ngIf="rol === 'INVITADO'">
                <li class="nav-item"><a class="nav-link active" routerLink="/ofertasInicio" routerLinkActive="active">
                    <i class="fas fa-home"></i><span>Inicio</span></a>
                </li>
                <li  class="nav-item"><a class="nav-link" routerLink="/loginPersona" routerLinkActive="active">
                    <i class="far fa-user-circle"></i><span>Inicio de sesión</span></a>
                </li>

                <li  class="nav-item"><a class="nav-link" routerLink="/registerPersona" routerLinkActive="active">
                    <i class="fas fa-user-circle"></i><span>Registrarse</span></a>
                </li>

                <li class="nav-item"><a class="nav-link">
                    <i class="fas fa-file"></i><span>Guías de entrevista</span></a>
                </li>

                <li class="nav-item"><a class="nav-link">
                    <i class="fas fa-chart-bar"></i><span>Estadísticas</span></a>
                </li>

                <li class="nav-item"><a class="nav-link" routerLink="/loginEmpresa" routerLinkActive="active">
                    <i class="fas fa-building"></i><span>¿Tienes una empresa?</span></a>
                </li>
            </ng-container>
        </ul>
    </div>
</nav>