<nav>
    <div class="container">    
        <div class="logo-container">
            <img src="Imagenes/wwk_white.png" alt="Logo Workwise" class="logo-img">
            <div class="logo-text">WORKWISE</div>
        </div>
        <div class="nav-links" *ngIf="modo === 'link'">
            <a routerLink="/ofertasInicio" routerLinkActive="active">Ofertas</a>
            <a >Empresas</a>
            <a routerLink="/login" routerLinkActive="active">Inicio de sesión</a> 
        </div>

        <div *ngIf="modo === 'buscador'">
            <input type="text" placeholder="Buscar...">
            <button>Buscar</button>
        </div>
    </div>
</nav>

