<div *ngIf="ofertas.length > 0" class="offer-container">
    <div *ngFor="let ofertas of ofertas" class="card">
        <div class="favorite-icon" th:attr="data-id=${Oferta.id}">
            <i class="far fa-heart"></i>
        </div>
        <div class="applied-icon" th:if="${Oferta.postulado}" th:attr="data-id=${Oferta.id}">
            <i class="fas fa-check-circle"></i>
            <span data-trad="offers.applied">Postulado</span>
        </div>
        <div class="offer-content" th:attr="data-id=${Oferta.id}">
            <h3>{{ofertas.titulo}}</h3>
            <p>{{ofertas.descripcion}}</p>
        </div>
    </div>
</div>


<!-- Modal que se mostrará al hacer clic en una tarjeta -->
<div id="modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-header-info">
                <h3 id="modal-title">hola</h3>
                <div class="modal-info-item" id="modal-empresa" style="padding: 0%;">lo que sea</div>
            </div>
            <span onclick="cerrarModal()" class="close-btn" id="close-btn">&times;</span>
        </div>
        <div class="modal-body">
            <div class="pago valores">
                <div class="modal-info-item" id="modal-salary" style="display: flex; margin-right: 5px;"><Strong>Salario: </Strong></div>
                <div id="modal-currency" style="margin-right: 2px; ;"></div>
                <div class="modal-info-item" id="modal-period"></div>
            </div>
            <div class="time-contract valores">
                <div class="modal-info-item" id="modal-typeContract"><strong>Tipo de contrato: </strong></div>
                <div class="modal-info-item" id="modal-duration" style="margin-left: 3px;"></div>
            </div>

            <div class="modal-info-item" id="modal-type"><strong>Tipo de empleo: </strong></div>

            <div class="modal-info-item" id="modal-modalidad"><strong>Modalidad: </strong></div>

            <div class="contenedorDescripcion">
                <h4>Descripción</h4>
                <p id="modal-description">prueba</p>
            </div>

            <div class="Requerimientos">
                <h4 data-trad="offer.requirements">Requerimientos</h4>
                <ul>
                    <li>
                        <div class="modal-info-item" id="modal-experience"><strong>Experiencia:</strong></div>
                    </li>
                    <li>
                        <div class="modal-info-item" id="modal-studyLevel"><strong>Nivel de estudio:</strong></div>
                    </li>
                    <li>
                        <div class="modal-info-item" id="modal-sector"><strong>Sector:</strong></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" id="btn-prediccion" class="btn-prediccion" data-trad="modal.predictionLink">¿Quieres conocer
                la
                probabilidad de ser aceptado?</a>
            <button class="apply-btn-modal" id="postularseBtn" data-trad="modal.applyBtn">Postularse</button>
        </div>
    </div>
</div>